.logo-carousel {
  width: 100%;
  overflow: hidden;
  
}

.container-partner{
  margin-top: 250px;
  margin-bottom: 250px;
}

.myservicesheading{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #FFC40A;
}

.carousel-inner {
  display: flex;
  width: max-content;
  animation: carousel-scroll infinite;
  animation-timing-function: linear;
}

.carousel-item {
  flex: 0 0 calc((100% - 30px * 5) / 6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  animation: slide-in 2s linear infinite;
  margin-top: 60px;
}

.carousel-item img {
  max-width: 100%;
  height: auto;
}

@keyframes carousel-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% * 6));
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  20% {
    opacity: 1;
    transform: translateX(0);
  }
  80% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@media (max-width: 768px) {
  .myservicesheading {
    font-size: 30px;
  }

  .container-partner{
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .carousel-item {
    flex: 0 0 calc((100% - 1px * 3) / 4);
    margin-top: 30px;
  }
}